.App {
  text-align: center;
  background-color: lightgray;
  margin: none; 
}

#card{
  margin:2rem auto 2rem;
  border:5px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem; 
}

#main{
  display: inline-block;
}

#h1{
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: bold;
}

#h3{
  font-size: 2rem;
}

#footer{
  padding:2rem; 
  margin: 2rem; 
}


@media screen and (max-width: 800px) {
  #card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#form {
  width: 300px; 
  margin: auto; 
}

